.root {
  --dark-blue :rgb(26, 27, 110);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

li {
   text-indent: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.thread-list {
  background-color: rgb(26, 27, 110);
  height: auto;
  padding: 10px;
  width: 100;
}

body {
  height: 100vh;
}

.App {
  text-align: right;
}

.logout-button {
  margin: 10px 25px 10px 0;
  background-color: whitesmoke; 
  z-index: 10;
}

.header {
  background-color: whitesmoke;
}

.thread-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* /////////////////////////////////////////////////////////////////THREAD DISPLAY */

.thread-list .btn-primary, .thread-list .btn-primary:disabled {
  background-color:rgb(26, 27, 110);
  border: none;
  margin: 3px;
}

.thread-display {
  flex: 5;
  padding-right: 25px;
  padding-left: 25px;
}

.thread {
  display: flex;
  justify-content: space-between;
}

.new-thread-form {
  margin-left: 35px;
  background-color: whitesmoke;
  text-align: left;
  padding: 5px;
}
.new-thread-buttons {
  text-align: right;
}

.new-thread-buttons button {
  margin: 5px;
}

/* /////////////////////////////////////////////////////////////////MESSAGES DISPLAY */

.message .btn-primary {
  background-color: white;
  border: none;
  color: var(--dark-blue);
}

.message {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.username {
  font-style: italic;
  font-weight: bold;
}

.message-textarea {
  margin: 10px;
}

.edit-message-form {
  text-align: right;
  display: flex;
  width: auto;
}

.edit-message-input {
  text-align: right;
}
/* /////////////////////////////////////////////////////////////////LOGIN/REGISTER */

.login-wrapper {
  display: flex;
  justify-content: center;
}

.login-inner-wrapper {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.login-inner-wrapper form {
  text-align: left;
}

.login-outer-wrapper h2 {
  background-color: whitesmoke;
  text-align: center;
  padding: 10px;
}

.login-inner-wrapper form .btn-primary {
  background-color: rgb(26, 27, 110);
  border: none;
}
.login-submit-button {
  text-align: right;
  margin: 10px;
}

.bottom-text{
  background-color: white;
  color: black;
  font-size: 0.8em;
  border: white;
  text-align: center;
  font-style: italic;
}

/* /////////////////////////////////////////////////////////////////DESKTOP */

@media (min-width: 768px) {
 
  .wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.thread-list {
  height: 100vh;
  margin-left: -40px;
  width: 400px;
}

.thread-title {
  margin: -45px 100px 10px 100px;
}
.login-inner-wrapper {

  width: 60%;

}

  }