.root {
  --dark-blue :rgb(26, 27, 110);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

li {
   text-indent: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.thread-list {
  background-color: rgb(26, 27, 110);
  height: 100vh;
  padding: 10px;
  margin-left: -40px;
  width: 400px;
}



body {
  height: 100vh;
}

.App {
  text-align: right;
}

.logout-button {
  margin: 10px 25px 5px 0;
  background-color: whitesmoke; 
}

.thread-list .btn-primary {
  background-color:rgb(26, 27, 110);
  border: none;
}

.thread-display {
  flex: 5;
  padding-right: 25px;
  padding-left: 25px;
}

.thread-title {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.thread {
  display: flex;
  justify-content: space-between;
}

.new-thread-form {
  margin-left: 35px;
  background-color: whitesmoke;
  text-align: left;
  padding: 5px;
}
.new-thread-buttons {
  text-align: right;
}

.new-thread-buttons button {
  margin: 5px;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  background-color: whitesmoke;
}

.message .btn-primary {
  background-color: white;
  border: none;
  color: var(--dark-blue);
}

.message {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.username {
  font-style: italic;
  font-weight: bold;
}

.message-textarea {
  margin: 10px;
}
